@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}

p {
	font-family: Montserrat;
}

h4 {
	font-family: Montserrat;
}

h1 {
	font-family: Oswald;
}

a {
	font-family: Montserrat;
}

#header {
	border: dashed;
	color: blue;
	text-align: center;
	margin-bottom: 10px
}

#header a {
	padding: 3px;
	background-color: #0000FF;
	color: #FFFFFF;
	text-decoration: none; 
}

#header a:hover {
	padding: 3px;
	background-color: #0101DF;
	color: #F2F2F2;
	text-decoration: none; 
}

#blog {
	border: solid;
	color: blue;
	width: 75%;
	display: inline-block;
}

#menuderecha {
	border: solid;
	color: blue;
	width: 23%;
	display: inline-block;
	margin-left: 0.5%;
	margin-top: 50px;
}